.App__header {
    width: 100%;
    background-color: rgba(18, 18, 18, 0.952);
    padding: 25px 15px;
}

.Header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

.Header__map {
    padding: 5px 7px;
    width: 100%;
    border-radius: 5px;
    background-color: #2C2929FF;
    margin-top: 25px;
}

.map__content {
    display: flex;
    align-items: center;
    gap: 5px;

    a {
        color: #fff;
    }
}

.App__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.952);
    padding: 15px 15px;

    h1 {
        color: #fff;
    }
}

.Header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color:  rgb(53, 53, 53);

    img {
        width: 40px;
        height: auto;
    }
}

.Header__nav {
    max-width: 400px;
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.item__link {
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: .2s linear;
    border-radius: 4px;

    &.active {
        background-color: rgb(44, 41, 41);
    }

    &:hover {
        color: #D0021BFF;
    }
}